#MOBILE AND LAPTOP SALES DATA

In [1]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
df = pd.read_csv("/content/drive/MyDrive/mobile_sales_data.csv")

In [8]:
df.head()

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Dispatch Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
0,Mobile Phone,Motorola,88EB4558,Site candidate activity company there bit insi...,78570,02-08-2023,03-08-2023,6,William Hess,South Kelsey,Central,NaN,Snapdragon 7 Gen,12GB,128GB,NaN
1,Laptop,Oppo,416DFEEB,Beat put care fight affect address his.,44613,03-10-2023,06-10-2023,1,Larry Smith,North Lisa,South,Ryzen 5,Ryzen 5,8GB,512GB,256GB
2,Mobile Phone,Samsung,9F975B08,Energy special low seven place audience.,159826,19-03-2025,20-03-2025,5,Leah Copeland,South Todd,Central,NaN,MediaTek Dimensity,8GB,256GB,NaN
3,Laptop,Sony,73D2A7CC,Friend record hard contain minute we role sea ...,20911,06-02-2024,27-03-2024,1,Dan Kirby,New Jordanmouth,South,i7,i7,12GB,64GB,2TB
4,Laptop,Microsoft,CCE0B80D,Program recently feeling save tree hotel people.,69832,10-08-2023,10-09-2023,4,Dean Martin,Keithton,East,i7,i7,8GB,128GB,2TB

In [27]:
df.tail()

,Product,Brand,Product Code,Product Specification,Price,Inward Date,Shipment Date,Quantity Sold,Customer Name,Customer Location,Region,Core Specification,Processor Specification,RAM,ROM,SSD
49995,Laptop,Motorola,8C187637,Pick build kind teach mean each camera.,170385,02-03-2024,11-04-2024,6,Sara Gomez,Sylviatown,North,i3,i3,16GB,512GB,2TB
49996,Laptop,HP,0DA9E4D3,Outside policy treat he opportunity pattern.,193133,19-01-2025,20-01-2025,4,Raymond Clark,Chrismouth,West,i7,i7,8GB,1TB,512GB
49997,Laptop,Toshiba,CAD89A93,Test floor tax together out adult discover own...,66502,16-01-2024,05-03-2024,6,Joseph Martin,Huntfurt,North,i5,i5,4GB,64GB,2TB
49998,Mobile Phone,Lenovo,78566C17,Away also magazine receive such lay.,158883,15-05-2023,25-05-2023,2,Gabrielle Barnett,Heidiberg,North,0,Snapdragon 7s,12GB,1TB,0
49999,Laptop,Asus,9C3FC57C,Role ahead common listen idea few blood half.,86483,29-08-2023,26-10-2023,7,Robert Sampson,West Elizabethchester,East,i7,i7,12GB,128GB,256GB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product                  50000 non-null  object
 1   Brand                    50000 non-null  object
 2   Product Code             50000 non-null  object
 3   Product Specification    50000 non-null  object
 4   Price                    50000 non-null  int64
 5   Inward Date              50000 non-null  object
 6   Dispatch Date            50000 non-null  object
 7   Quantity Sold            50000 non-null  int64
 8   Customer Name            50000 non-null  object
 9   Customer Location        50000 non-null  object
 10  Region                   50000 non-null  object
 11  Core Specification       25017 non-null  object
 12  Processor Specification  50000 non-null  object
 13  RAM                      50000 non-null  object
 14  ROM                      50000 non-null  object
 15  SSD                      25017 non-null  object
dtypes: int64(2), object(14)
memory usage: 6.1+ MB

In [10]:
df.describe()

               Price  Quantity Sold
count   50000.000000    50000.00000
mean   102641.407080        5.51378
std     56363.550361        2.88101
min      5008.000000        1.00000
25%     53487.000000        3.00000
50%    103072.000000        6.00000
75%    151396.250000        8.00000
max    199999.000000       10.00000

In [12]:
df.isnull().sum()

Product                        0
Brand                          0
Product Code                   0
Product Specification          0
Price                          0
Inward Date                    0
Dispatch Date                  0
Quantity Sold                  0
Customer Name                  0
Customer Location              0
Region                         0
Core Specification         24983
Processor Specification        0
RAM                            0
ROM                            0
SSD                        24983
dtype: int64

In [16]:
df['Core Specification']=df['Core Specification'].fillna("0")

In [17]:
df['SSD'] = df['SSD'].fillna(0)

In [18]:
df.isnull().sum()

Product                    0
Brand                      0
Product Code               0
Product Specification      0
Price                      0
Inward Date                0
Dispatch Date              0
Quantity Sold              0
Customer Name              0
Customer Location          0
Region                     0
Core Specification         0
Processor Specification    0
RAM                        0
ROM                        0
SSD                        0
dtype: int64

In [22]:
df = df.drop_duplicates()

In [23]:
print("Remaining duplicates:",df.duplicated().sum())

Remaining duplicates: 0

In [24]:
#Rename a specific column
df = df.rename(columns = {"Dispatch Date":"Shipment Date"})

In [26]:
print(df.columns)

Index(['Product', 'Brand', 'Product Code', 'Product Specification', 'Price',
       'Inward Date', 'Shipment Date', 'Quantity Sold', 'Customer Name',
       'Customer Location', 'Region', 'Core Specification',
       'Processor Specification', 'RAM', 'ROM', 'SSD'],
      dtype='object')